################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ChroMapper-BeatmapScanner/obj
/ChroMapper-BeatmapScanner/bin/Release
/.vs
